---
title: "{{ .Recipe.Name | escapeQuotes }}"
{{- if .Recipe.Description }}
description: "{{ .Recipe.Description | escapeQuotes }}"
{{- end }}
{{- if .Recipe.DateAdded }}
date: {{ .Recipe.DateAdded }}
{{- end }}
{{- if .Recipe.DateUpdated }}
lastmod: {{ .Recipe.DateUpdated }}
{{- end }}
{{- if .Recipe.RecipeCategory }}
categories:
{{- range categoryNames .Recipe.RecipeCategory }}
  - "{{ . }}"
{{- end }}
{{- end }}
{{- if .Recipe.Tags }}
tags:
{{- range tagNames .Recipe.Tags }}
  - "{{ . }}"
{{- end }}
{{- end }}
{{- if .Recipe.PrepTime }}
prep_time: "{{ .Recipe.PrepTime }}"
{{- end }}
{{- if .Recipe.CookTime }}
cook_time: "{{ .Recipe.CookTime }}"
{{- end }}
{{- if .Recipe.TotalTime }}
total_time: "{{ .Recipe.TotalTime }}"
{{- end }}
{{- if .Recipe.RecipeServings }}
servings: {{ .Recipe.RecipeServings }}
{{- end }}
{{- if .Recipe.Rating }}
rating: {{ .Recipe.Rating }}
{{- end }}
{{- if .Recipe.OrgURL }}
source_url: "{{ .Recipe.OrgURL }}"
{{- end }}
---

# {{ .Recipe.Name | escapeQuotes }}

{{- if .Recipe.Description }}

{{ .Recipe.Description | escapeQuotes }}
{{- end }}
